@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid #f00 !important; */
  scroll-behavior: smooth;
}

*::selection {
  @apply bg-fuchsia-300 text-fuchsia-900 [text-shadow:none];
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: #a7a7a7;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #f7588a;
  border-radius: 9999px;
}
